
.section-1 {
    background-color: #1e1e1e;
    color: #b0b0b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  
  .section-1 .logo {
    display: flex;
    cursor: pointer;
  }
  
  .section-1 h1 {
    color: #d2691e;
    letter-spacing: 5px;
  }
  
  .refresh {
    border-radius: 30px;
    height: 20px;
    width: 60px;
    margin-top: 26px;
    margin-left: 15px;
    background-image: linear-gradient(45deg, #ff8c00, #522606);
  }
  
  .lgnsgn {
    display: flex;
    gap: 10px;
    padding-right: 30px;
  }
  
  .login-button,
  .signup-button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .login-button {
    background-color: #ff8c00;
    color: white;
  }
  
  .signup-button {
    background-color: #ff8c00;
    color: white;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 25px;
    z-index: 1000;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .lgnsgn.open {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
  }
  
  .lgnsgn {
    display: flex;
    gap: 10px;
  }
  
  @media (max-width: 1024px) {
    .section-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .section-1 h1 {
      font-size: 24px;
    }
  
    .logo {
      gap: 10px;
    }
  
    .lgnsgn {
      display: flex;
      gap: 5px;
    }
  
    .login-button,
    .signup-button {
      font-size: 12px;
      padding: 6px 12px;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
  @media (max-width: 768px) {
    .section-1 {
      padding-left: 10px;
      padding-right: 10px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .logo {
      margin-bottom: 15px;
    }
  
    .lgnsgn {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .section-1 {
      padding-left: 10px;
      padding-right: 10px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .logo {
      margin-bottom: 15px;
    }
  
    .lgnsgn {
      display: none;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      align-items: center;
    }
  
    .login-button,
    .signup-button {
      width: 100%;
      font-size: 14px;
      padding: 10px 0;
    }
  
    .lgnsgn.open {
      display: flex;
    }
  }
   
